@import url('reset.css');

#cabecalho{
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu-start{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
}

.menu-start .youtube-logo{
    width: 90px;
    height: 20px;
}

.menu-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-center input{
    width: 350px;
    height: 28px;
    border: 1px solid #CCCCCC;
}

.menu-center button{
    width: 57px;
    border: 1px solid #F8F8F8;
    background: none;
}

.menu-end{
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
}

.menu-end img{
    width: 24px;
    height: 24px;
}

.menu-end [alt=perfil]{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

/*MENU*/

#corpo{
    display: flex;
    justify-content: center;   
}

.conteudo{
    margin-top: 16px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.video-frame{
    width: 914px;
    height: 537px;
    font-size:14px;
}

.video-frame .video-tela{
    background-color: black;
    display: inline-flex;
    width: 914px;
    height: 537px;
}

.video-frame h1{
    margin:10px;
}

.video-frame .barra-canal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.videoframe .barra-canal img{
    width: 902px;
    height: 42px;
}

.video-frame .descricao{
    margin: 20px;
}

.videos-coluna{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.videos-coluna .video {
    width: 410px;
    height: 100px;
    display: flex;
    flex-direction: row;
    word-break: break-all;
    font-size: xx-small;
    gap: 12px;
}

.video p{
    font-size: 12px;
}